/* 
--- 01 typography 
/*
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - Font weights:
    default: 400
    medium: 500
    semi-bold: 600
    bold: 700

- Line heights 
    default: 1
    samll: 1.05 
    medium: 1.2px
    paragraph default 1.6

 - letter spacing
    -.05px
    0.75px

/* 


--- 02 Colors 
    Primary: #e67e22
    Tints: 
    
    

- Shades:
- Accents:
- greys

---Icons

---05 Shadows

---06 Border_radius
  default 9px

  ---07 WhiteSpace
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  /* background-color: #4d148c; #111 */
  background: linear-gradient(to right, rgb(255, 77, 77), rgb(196, 2, 2));
  color: white;
  padding: 20px 50px;
}

a {
  text-decoration: none;
  color: white;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem {
  margin-right: 35px;
  cursor: pointer;
  color: lightgray;
  font-weight: 650;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBottom {
  display: flex;
  /* align-items: center;*/
  /* justify-content: space-between; */
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid red;
  cursor: pointer;
}

.Login-Logo {
  font-size: 40px;
  margin-top: -5px;
  margin-left: 5px;
  position: absolute;
}

.search {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 25px;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.searchInput {
  border: none;
  padding: 5px 5px;
  width: 200px;
  height: 25px;
  background-color: transparent;
  margin-right: 85px;
}

.searchInput::placeholder {
  color: black;
  font-size: 20px;
}

.slider {
  height: 100vh;
  overflow: hidden;
}

.Post-office {
  height: 70%;
  position: absolute;
  bottom: 18%;
  left: 5%;
}

.Mail {
  height: 60%;
  position: absolute;
  /* bottom: 18%; */
  left: 5%;
}

.Truck {
  height: 60%;
  position: absolute;
  bottom: 18%;
  left: 5%;
}

.Delivery {
  height: 80%;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
}

.sliderTitle {
  position: absolute;
  top: 15%;
  right: 10%;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  color: crimson;
}

.sliderPrice {
  position: absolute;
  top: 30%;
  left: 63%;
  font-size: 40px;
  font-weight: bolder;
}

.signUpButton {
  position: absolute;
  padding: 15px;
  border-radius: 18px;
  background-color: crimson;
  font-size: 15px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  left: 63%;
  margin-top: 60px;
  cursor: pointer;
}

.signUpButton:hover {
  background-color: rgb(255, 77, 77);
  color: whitesmoke;
}

/* .feature-container {
  top: 80%;
  margin-bottom: 500px;
  position: absolute;
} */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureImg {
  width: 70px;
  height: 70px;
}

.featureTitle {
  font-size: 25px;
  font-weight: 600;
  margin: 20px;
}

.featuredDesc {
  color: gray;
  width: 80%;
  font-size: 20px;
}

.slideBg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1499px) {
  .sliderTitle {
    font-size: 40px;
  }
  .sliderPrice {
    display: none;
  }
  .Post-office {
    height: 60%;
  }
  .Mail {
    height: 60%;
  }
  .Truck {
    height: 60%;
  }
  .signUpButton {
    padding: 5px;
  }
}
